version: "3.8"
services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3001 -b '0.0.0.0'"
    volumes:
      - .:/ClassBunk
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=${DATABASE_URL:?"Error- missing DATABASE_URL in environment variables!"}
    image: classbunkdev:1.0